<div id='bookmark-list'>
  <h4>List</h4>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        Name: <%= bookmark.metadata_title %><br/>
        URL: <%= link_to bookmark.url_shortcut, bookmark.url, target: '_blank' %><br/>
        <% if show_domain %>
          Domain: <%= link_to bookmark.domain.name, controller: 'domains', action: 'show', id: bookmark.domain.id %><br/>
        <%end%>
        Tags: <%= bookmark.tag_list %>
      </li>
    <%end%>
  </ul>
  <%= will_paginate @bookmarks %>
</div>